<div title="Privatlivspolitik" id="dialog2" style="width: 70%; margin-left: 15%; margin-right: 15%; overflow: auto; height: 70%; margin-top: 15%; margin-bottom: 15%;">
  Privatlivspolitik og ansvarsfraskrivelse <br>
  Denne hjemmeside adminstreres af Grocit ApS.<br><br>

  Virksomheden er beliggende i:<br><br>

  Sønderengen 153<br>
  2870 Dyssegårds<br><br>


  Denne privatlivserklæring beskriver blandt andet, hvilken information der samles på denne hjemmeside, hvorfor gør vi således og hvordan vi anvender informationen.<br><br>

  1. Hvorfor indsamler Grocit ApS?<br>
  Sommetider spørger vi dig på denne hjemmeside, om at forsyne os med personlig information (navn, e-mail, adresse, telefon, alder, handelsmøsnstre, interesser, osv.). Vi kan supplere denne information med information omkring dig, som vi har modtaget gennem tredjeparter. For eksempel bruger vi denne information til følgende formål:<br><br>

  Vi kan kontakte dig omkring nyhedsbreve, tilbud og brugbar tips/information. Vi vil dog altid spørge efter din udtrykkelige tilladelse til dette.<br>
  For at forbedre vores (fremtidige) services i tilpasning til dine behov.<br>
  2. Hvor sikre er dine data hos Grocit ApS?<br>
  Vi finder det væsentligt, at håndtere informationen omkring vores brugere så sikkert som muligt. Til dette formål har Grocit ApS taget de følgende forholdsregler:<br><br>

  Betalinger finder stedet i et sikkert område:<br>
  Vi bruger sikre forbindelser, i tekniske vendinger et 256-bit krypteret Secure Socket Layer (SSL) certifikat, som kan genkendes af webadressen, der begynder med https:// i stedet for den normale http://. Dette betyder, at beskeder mellem dig og vores hjemmeside ikke kan opfanges af tredjeparter; beskeder er krypterede.<br>
  Vi anvender udelukkende kreditkortoplysninger til at behandle betalinger; informationerne gemmes ikke på vores server, og derved minimeres risikoen for misbrug af dine kreditkortoplysninger.<br>
  Vi bruger den mest moderne software på vores servere, og derved minimeres forsøg på indtrængen.<br>
  3. Hvem må vi forsyne med din personlig information?<br>
  Vi kan bede tredjeparter om at behandle og analysere personlig information, som vi har indsamlet fra dig.<br><br>

  Sommetider er vi forpligtet til at dele information til tredjeparter, når vi køber et produkt eller service fra dem.<br><br>

  Det vil måske også være nødvendigt, at dele din personlige information med en tredjepart for at få dem til at levere det produkt eller den service du bestilte (i dette tilfælde virker vi som mellemmand).<br><br>

  Vi vil give din personlig information til myndighederne, hvis vi er tvunget til at gøre det.<br><br>

  4. Hvilke personlig information og data indsamler vi?<br>
  Noget information samles ved at bruge cookies.<br><br>

  Cookie: En tekstfil, som servere lagrer på din computers harddisk.<br><br>

  En cookie indeholder for eksempel:<br><br>

  Information om dig, som besøgende på den pågældende hjemmeside<br>
  Information for at gemme dine adgangskoder, brugernavne og præferencer for den pågældende hjemmeside<br>
  Du kan indstille din browser til at afvise cookies, men dette vil gøre hjemmeside mindre brugervenlig.<br><br>

  Vi indsamler også information om din computer/brug af din computer, såsom:<br><br>

  IP-adresse: Dette gemmes kun, hvis du lægger beskeder (hvis det er relevant for siden) ud på hjemmesiden. Vi gør dette for at holde eventuelle uvelkomne beskeders ophavsmænd ude (for at være i stand til at stoppe misbrug).<br>
  Internet browsertype<br>
  Type af operativsystem<br>
  Ønsket URL<br>
  Besøgsvarighed på hjemmesiden<br>
  http-referer-url (herunder mulige søgeord, som du anvendte i en søgemaskine)<br>
  Din søgning, og hvordan du udførte det (gennem hvilken søgemaskine, ved hjælp af hvilke søgetermer, osv.)<br>
  User-agent-string><br>
  Skærmstørrelse<br>
  Al denne information gemmes og opdateres på log filer på vores servere. Denne information kan derpå linkes til andre data, vi har indsamlet fra dig.<br><br>

  Formålet med at samle og eventuelt linke denne information, er at være i bedre stand til at tilpasse vores servicer og produkter til dine behov og interesser.<br><br>

  5.Reklamefremvisning og reklameklik<br>
  Reklamefremvisninger og reklameklik registreres af os og af reklamenetværk, som vores virksomhed deltager i. Denne information er blandt andet indsamlet til følgende formål:<br>

  Finansiel regnskabsførelse mellem os og reklamenetværket<br>
  Statistisk information, hvormed vi forsøger så godt som muligt at fremme vores produkter, men også for at tilpasse dem som godt som muligt til dine behov.<br>
  Grocit  bruger følgende reklamenetværk:<br><br>

  Adscoop (egen privatlivs politik)<br><br>

  6.Hvis du ikke ønsker at modtage målrettet information<br>
  Vi vil anvende din forsynede information til at henvende os til dig, for eksempel via e-mail, telefon og post.<br><br>

  Hvis du ikke ønsker at modtage information fra os, kan du informere os om dette og bede os om ikke at sende dig mere information.<br><br>

  Vi vil forsikre dig, at vi vil gøre det let som muligt for at framelde vores nyhedsbreve, osv..<br><br>

  7.Ansvarsfraskrivelse<br>
  Selvom vi samler informationen på denne hjemmeside med den største omhu, kan vi ikke garantere, at informationen er korrekt og/eller fuldstændig. Grocit påtager sig intet ansvar for skade, der har resulteret i eller vil resultere i fremtiden på grund af upræcis eller ufuldstændig information på denne hjemmeside.<br>
  På vores hjemmesider refererer vi til andre hjemmesider/virksomheder/personer, osv. ved hjælp af hyperlinks, bannere, knapper, takkegaver, osv.. Denne reference indebærer ikke, at Grocit  er forbundet til disse andre hjemmesider og/eller deres ejere/de ansvarlige. Derfor påtager vi os ikke ansvaret for overholdelse af privatlivslovgivning for de pågældende tredjeparter.<br>

  8.Misbrug<br>
  Hvis vi er af den opfattelse, at der er tale om misbrug af faciliteterne på vores hjemmeside, vil vi blandt andet træffe følgende foranstaltninger:<br>
  Nægte adgang til visse IP-numre på ubestemt tid<br>
  Nægte adgang til visse e-mail adresser på ubestemt tid<br>
  Nægte adgang til visse personer på ubestemt tid<br>
  I tilfælde af, at tredjeparter er gjort fortræd, kan vi videregive den relevante information til den respektive tredjepart<br>

  9.Hvad er dine rettigheder?<br>
  Du kan spørge Grocit ApS, hvilken information er blevet behandlet om dig. Vi vil besvare dig så hurtigt og godt som muligt.<br><br>

  Du kan anmode om, at vi tilpasser eller, hvis du ønsker det, fjerne informationen.<br><br>

  10.Eventuelle ændringer af denne privatlivserklæring<br>
  Grocit ApS forbeholder sig retten til efter eget skøn at ændre denne privatlivserklæring.<br><br>

  11.Spørgsmål og anmodninger: Hvordan kontaktes vi?<br>
  I tilfælde af, at du har spørgsmål og/eller anmodninger, der handler om denne privatlivserklæring/dit privatliv, kan du kontakte os på skrift:<br><br>

  Grocit ApS<br>
  Sønderengen 153<br>
  2870 Dyssegaard<br><br>

  Vi tager kun i betragtning anmodninger og/eller spørgsmål, der er blevet indsendt på skrift.<br><br>

  12.Afslutningsvis<br>
  Denne privatlivserklæring er underlagt den danske lovgivning.<br><br>

</div>
