<div class="fluid-container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/"> GROCCIT.COM </span>
      <span class="example-spacer"></span>
      <div class="example-icon" aria-hidden="false" aria-label="Example heart icon">
        <a routerLink="gdpr" style="color: white; font-weight: lighter; font-size: 8;" >Privatlivspolitik</a>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet>

  </router-outlet>
  <footer style="background-color: lightgray; margin-bottom: 20%;">
<div style="margin-left: 10%; margin-bottom: 30%;">
  <span>Kontakt</span><br />
  Groccit ApS <br/>
  Sønderengen 153 <br/>
  2870 Dyssegaard <br />
  Tlf + 45 30 66 92 45
</div>
  </footer>
</div>


