<div >


  <div style="margin-left: 25%; margin-right: 25%; margin-top: 5%; width: 50%;">
  <div style="margin-bottom: 10px; font-size: 13px">
    {{status}}
  </div>
    <form [formGroup]="fc">
  <div class="example-container">
    <mat-form-field appearance="fill" style="width: 70%;">

      <mat-label>Type</mat-label>
      <mat-select formControlName="Types" value="food">
        <mat-option *ngFor="let food of types " [value]="food.value">
          {{food.valueView}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field style="width: 70%;">
      <mat-label>{{brand}}</mat-label>
      <input matInput type="text" formControlName="Brand" >
    </mat-form-field>


</div>

      <div class="example-container">
        <mat-form-field style="width: 70%;">
          <mat-label>{{model}}</mat-label>
          <input matInput type="text" formControlName="Model"/>
        </mat-form-field>

      </div>
      <div class="example-container">
        <mat-form-field style="width: 70%;">
          <mat-label>{{size}}</mat-label>
          <input matInput type="text" formControlName="Size"/>
        </mat-form-field>

      </div>
      <div  class="example-container">
        <mat-form-field  style="width: 70%;">
          <mat-label>{{color}}</mat-label>
          <input  matInput type="url" formControlName="Color"/>
        </mat-form-field>
      </div>
  <div  class="example-container">
    <mat-form-field style="width: 70%;">
      <mat-label>{{url}}</mat-label>
      <input  matInput type="url" formControlName="Url"/>
    </mat-form-field>
  </div>
<div class="example-container">
  <mat-form-field style="width: 70%;">
    <mat-label>{{price}}</mat-label>
    <input matInput type="number" formControlName="Price"/>
  </mat-form-field>

</div>
  <div class="example-container">
    <mat-form-field style="width: 70%;">
      <mat-label>{{city}}</mat-label>
      <input matInput type="text" formControlName="City"/>
    </mat-form-field>

  </div>
  <div class="example-container">
    <mat-form-field style="width: 70%;">
      <mat-label>{{zipcode}}</mat-label>
      <input matInput type="number" maxlength="4" formControlName="Zipcode"/>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field style="width: 70%;">
      <mat-label>{{name}}</mat-label>
      <input matInput type="text" formControlName="Name"/>
    </mat-form-field>
  </div>
      <div class="example-container">
        <mat-form-field style="width: 70%;">
          <mat-label>{{email}}</mat-label>
          <input matInput type="text" formControlName="Email"/>
        </mat-form-field>
      </div>
  <div class="example-container">
    <mat-form-field style="width: 70%;">
      <mat-label>{{phone}}</mat-label>
      <input matInput type="tel"  prefix="+45"  formControlName="Phone"/>
    </mat-form-field>
  </div>
      <div class="example-container">
        <mat-form-field style="width: 70%;">
          <mat-label >{{comment}}</mat-label>
  <textarea matInput formControlName="Comment"></textarea>
        </mat-form-field>
      </div>
<div class="example-container">
  <button mat-raised-button color="primary" (click)="OpretPurphase()">{{create}}</button>
</div>
    </form>
  </div>
</div>
