<div style="width: 50%; margin-left: 25%; margin-bottom: 0px; margin-top: 0px; height: 100% !important;" >
<div class="example-container">
  <mat-form-field style="width: 70%;">

    <mat-label>{{firstname}}</mat-label>
    <input matInput type="text" placeholder="{{firstname}}">
  </mat-form-field>

</div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{firstname}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>

  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{lastname}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{username}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{email}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{password}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{repeat}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{zipcode}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{city}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">

    <mat-form-field style="width: 70%;">
      <mat-label>{{phone}}</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="example-container">
    <button mat-flat-button>{{opret}}</button>
  </div>
</div>
